@media screen and (min-width:401px) {
    .navbar{
        flex-direction: row;
    }
    .navigation-container{
        flex-direction: row;
        width: 50%;
        justify-content: space-around;
        align-items: center;
        
    }
    .navigation-container a{
        margin-top: 0;
    }


    .banner{
        flex-direction: row;
        justify-content: space-between;
        height: 50vh;
        
    }
    .banner-text{
        width: 50%;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .banner-image{
        width: 50%;
        margin-top: 0;
    }

    .all-products-container{
    
        
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
        
    }


    .discount-parent{
  
        padding: 10px;
        min-height: 500px;
        display: flex;
        flex-direction: row;
    }

    .discount-img{
       width: 50%;
    
    }

    .discount-text{
        width: 50%;
    }

    


}